## Enraged Rabbit : Carrot Feeder V1.1 hardware config file
# Values are an example for voron 2.4 with 2 SKR1.4
[mcu ercf]
serial: /dev/serial/by-id/usb-Klipper_samd21g18a_F6EE357D3432585020312E3545150FFF-if00

# Carrot Feeder 5mm D-cut shaft
# Example for an SKR 1.4 Board (E1 on the XY mcu)
[manual_stepper gear_stepper]
step_pin: ercf:PA4
dir_pin: !ercf:PA10
enable_pin: !ercf:PA2
rotation_distance: 22.554216869	#Bondtech 5mm Drive Gears
gear_ratio: 80:20
microsteps: 16  # Please do not go higher than 16, this can cause 'MCU Timer too close' issues under Klipper
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
velocity: 35
accel: 150

[tmc2209 manual_stepper gear_stepper]
# Adapt accordingly to your setup and desires
# The default values are tested with the BOM NEMA14 motor
# Please adapt those values to the motor you are using
# Example : for NEMA17 motors, you'll usually set the stealthchop_threshold to 0
# and use higher current
uart_pin: ercf:PA8
uart_address: 0
interpolate: True
run_current: 0.40
hold_current: 0.3
sense_resistor: 0.150
stealthchop_threshold: 500 

# Carrot Feeder selector
# Example for an SKR 1.4 Board (Z1 on the XY mcu)
[manual_stepper selector_stepper]
step_pin: ercf:PA9
dir_pin: !ercf:PB8
enable_pin: !ercf:PA11        
# step_pin: PE1
# dir_pin: !PE0
# enable_pin: PC5
rotation_distance: 40
microsteps: 16 # Please do not go higher than 16, this can cause 'MCU Timer too close' issues under Klipper
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
velocity: 200
accel: 600
endstop_pin: ^ercf:PB9

[tmc2209 manual_stepper selector_stepper]
uart_pin: ercf:PA8
uart_address: 1
# uart_pin: PD11
run_current: 0.40
hold_current: 0.2
interpolate: True
# sense_resistor: 0.150
sense_resistor: 0.110
stealthchop_threshold: 500
# Uncomment the lines below if you want to use sensorless homing for the selector
#diag_pin: ^P1.27      # Set to MCU pin connected to TMC DIAG pin
#driver_SGTHRS: 75  # 255 is most sensitive value, 0 is least sensitive

# Values are for the MG90S servo
[servo ercf_servo]
pin: ercf:PA5
maximum_servo_angle: 180
minimum_pulse_width: 0.00085
maximum_pulse_width: 0.00215

[duplicate_pin_override]
pins: ercf:PA6
# Put there the pin used by the encoder and the filament_motion_sensor
# It has to be the same pin for those 3

[filament_motion_sensor encoder_sensor]
switch_pin: ^ercf:PA6
pause_on_runout: False
detection_length: 10.0
extruder: extruder
runout_gcode: ERCF_ENCODER_RUNOUT
