## Enraged Rabbit : Carrot Feeder V1.1 hardware config file
# Values are an example for voron 2.4 with 2 SKR1.4

# Carrot Feeder 5mm D-cut shaft
# Example for an SKR 1.4 Board (E1 on the XY mcu)
[manual_stepper gear_stepper]
step_pin: P1.15
dir_pin: P1.14
enable_pin: !P1.16
rotation_distance: 22.6789511	#Bondtech 5mm Drive Gears
gear_ratio: 80:20
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
velocity: 35
accel: 150
#Right now no pin is used for the endstop, but we need to define one for klipper. So just use a random, not used pin
endstop_pin: P0.10

[tmc2209 manual_stepper gear_stepper]
# Adapt accordingly to your setup and desires
# The default values are tested with the BOM NEMA14 motor
uart_pin: P1.1
interpolate: True
run_current: 0.40
hold_current: 0.1
sense_resistor: 0.110
stealthchop_threshold: 500 

# Carrot Feeder selector
# Example for an SKR 1.4 Board (Z1 on the XY mcu)
[manual_stepper selector_stepper]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
microsteps: 16
rotation_distance: 40
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
velocity: 200
accel: 600
endstop_pin: P1.25

[tmc2209 manual_stepper selector_stepper]
uart_pin: P1.8
run_current: 0.55
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 5000

# Values are for the MG90S servo
[servo ercf_servo]
pin: P1.26
maximum_servo_angle: 180
minimum_pulse_width: 0.00085
maximum_pulse_width: 0.00215

[duplicate_pin_override]
pins: P1.0
# Put there the pin used by the encoder and the filament_motion_sensor
# It has to be the same pin for those 3

[filament_motion_sensor encoder_sensor]
switch_pin: ^P1.0
pause_on_runout: False
detection_length: 4.0
extruder: extruder
# runout_gcode: ERCF_ENCODER_MOTION_ISSUE

[filament_switch_sensor toolhead_sensor]
pause_on_runout: False
switch_pin: ^P1.27 
