[ercf]
# Encoder setup
# The encoder_pin must match the pin defined in ercf_hardware
# The encoder resolution is determined by running the ERCF_CALIBRATE_ENCODER
# See the manual for details on both settings
encoder_pin: ^ercf:PA6
encoder_resolution: 1.333156

# Speeds and accels
# Long moves are faster than the small ones
# 100mm/s should be "quiet" with the NEMA14 motor or a NEMA17 pancake, but you can go lower if your really want it to be low noise
# Tested without any issue at 200mm/s, but it's noisy. I'm running mine at 170mm/s for long moves and 50mm/s for short moves.
long_moves_speed: 100 # mm/s. Default value is 100mm/s.
long_moves_accel: 400 # mm/s². Default value is 400mm/s²
short_moves_speed: 25 # mm/s. Default value is 25mm/s.
short_moves_accel: 400 # mm/s². Default value is 400mm/s²

# Logging
# log_level can be set to one of (0 = off, 1 = info, 2 = debug, 3 = trace).  
# Info is a good level for day to day usage, with debug and trace being useful for identifying problems
# or seeking help in discord.  Setting this to off will supress all ERCF messages, including pauses and other important messages
log_level: 1
# log_statistics set to 1 will log print statistics on each tool change
# These statistics include things like the number of swaps completed, as well as time spent swapping
log_statistics: 1 

# Servo Configuration
# Default values:
# MG90S servo: Up=30, Down=140
# SAVOX SH0255MG: Up=140, Down=30
servo_up_angle: 140
servo_down_angle: 65
extra_servo_dwell_up: 0                                                            # Additional dwell time in ms to apply to dwell prior to turning off the servo
extra_servo_dwell_down: 0                                                          # Additional dwell time in ms to apply to dwell prior to turning off the servo

# Base value for the loading length used by the auto-calibration macro
# Please use a value SMALLER than the real reverse bowden length (like 50mm less)
# This is only used during calibration, and has no impact on normal running
calibration_bowden_length: 880

# The position of each tool on the selector.  See the manual for setting these values
colorselector: 2.3, 23.2, 44.0, 69.6, 91.2, 112.8, 138.4, 160.0, 180.0

# Distance between the end of the bowden tube and the nozzle
# This value can be determined by manually inserting filament at the very beginning of your
# extruder, and advancing it 1-2mm at a time until it starts to extrude from the nozzle.  
# Subtract 1-2mm from that distance distance to get this value.  If you have large gaps
# in your purge tower, increase this value.  If you have blobs, reduce this value.
# This value will depend on your extruder, hotend and nozzle setup.
end_of_bowden_to_nozzle: 72 

# if you are getting "timer too close" errors, increase the number of moves used during loading and unloading
num_moves: 2 # Number of moves to make when loading or unloading

# Features
sensorless_selector: 0                                                             # 0 = use an endstop, 1 = use sensorless homing
enable_clog_detection: 0                                                           # 0 = do not use clog detection, 1 = use clog detection
enable_endless_spool: 0                                                            # 0 = do not use endless spool, 1 = use endless spool
# if endless spool is turned on, you must define a list of EndlessSpool groups here, one entry for each tool in your ERCF
# when filament runs out on a tool, it will switch to the next tool with the same group number
# for example, if set to 1, 2, 3, 1, 2, 3, 1, 2, 3 on a 9 cart ERCF, and a runout occurs on tool #0
# the ERCF will switch to using tool #3.
endless_spool_groups: 1, 2, 3, 1, 2, 3, 1, 2, 3                                    

# configurable, but fairly fixed values
gear_stepper_accel: 0                                                              # The acceleration value applied to the gear stepper on moves, standard is to use 0
timeout_pause: 72000                                                               # Time out used by the ERCF_PAUSE
disable_heater: 600                                                                # Delay after which the hotend heater is disabled in the ERCF_PAUSE state
min_temp_extruder: 180                                                             # Temp used during the auto-calibration macro, to ensure we can move the extruder (but not really extruding)
unload_buffer:50                                                                   # The amount, in mm, to reduce the unload so that the more accurate encoder unload has room to operate
extruder_homing_max: 50                                                            # the maximum distance to advance in order to attempt to home the extruder
extruder_homing_step: 2                                                            # the step size to use when homing the extruder
