## Enraged Rabbit : Carrot Feeder config file for ERCF EASY BRD v1.1
##
## IMPORTANT J6 Jumper setting:
## Option 1: Pins 2-3 and 4-5, i.e.  .[..][..]
## This is for sensorless selector setup. Note that this enables the option disables the "extra"
## switch so the toolhead sensor (if used) would have to be connected to the main mcu
##
## Option 2: Pins 1-2 and 4-5, i.e.  [..].[..]
## It you are NOT using sensorless selector. The "extra" switch is enabled for other uses
##
[mcu ercf]
serial: /dev/serial/by-id/usb-Klipper_samd21g18a_9BD20A734134555020312E30152219FF-if00


## FILAMENT DRIVE GEAR STEPPER
# Adapt accordingly to your setup and desires
# The default values are tested with the BOM NEMA14 motor
# Please adapt these values to the motor you are using
# Example : for NEMA17 motors, you'll usually set the stealthchop_threshold to 0
# and use higher current
[tmc2209 manual_stepper gear_stepper]
uart_pin: ercf:PA8
uart_address: 0
interpolate: True
run_current: 0.5			# NEMA14 motor
hold_current: 0.1			# Can be small
sense_resistor: 0.110
stealthchop_threshold: 500		# default: 500

[manual_stepper gear_stepper]
step_pin: ercf:PA4
dir_pin: !ercf:PA10
enable_pin: !ercf:PA2
rotation_distance: 22.7316868		# Bondtech 5mm Drive Gears. Must be manually verified and tuned.
gear_ratio: 80:20
microsteps: 8 				# Doesn't need high fidelity. 16 or higher can cause 'MCU Timer too close' issues under Klipper
full_steps_per_rotation: 200		# 200 for 1.8 degree, 400 for 0.9 degree
velocity: 100
accel: 400
#
# Uncomment if you want to use sensorless SELECTOR with the ERCF EASY BRD (yes, this is on the gear stepper!)
# This should be the pin of the physical selector endstop and is used to determine the difference between the true
# endstop and a blockage preventing selector movement
#endstop_pin: ^ercf:PB9			# Comment if using physical endstop switch (default)


## SELECTOR STEPPER
[tmc2209 manual_stepper selector_stepper]
uart_pin: ercf:PA8
uart_address: 1
run_current: 0.4			# NEMA14 motor
hold_current: 0.15			# Can be small
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 500		# default: 500
#
# Uncomment the lines below if you want to use sensorless selector homing
# (and configure ercf_parameters.cfg correctly)
# or comment out if using physical endstop switch (default)
#diag_pin: ^ercf:PA7			# Set to MCU pin connected to TMC DIAG pin
#driver_SGTHRS: 75			# 255 is most sensitive value, 0 is least sensitive

[manual_stepper selector_stepper]
step_pin: ercf:PA9
dir_pin: !ercf:PB8
enable_pin: !ercf:PA11        
rotation_distance: 40
microsteps: 16 				# Doesn't need high fidelity. 16 or higher can cause 'MCU Timer too close' issues under Klipper
full_steps_per_rotation: 200		# 200 for 1.8 degree, 400 for 0.9 degree
velocity: 200
accel: 600
#
# Select the endstop switch physical (for normal selector) or virtual (sensorless selector homing)
#endstop_pin: tmc2209_selector_stepper:virtual_endstop	# Uncomment for sensorless selector homing
endstop_pin: ^ercf:PB9					# Uncomment for physical homing option (default)


## SELECTOR SERVO
[servo ercf_servo]
pin: ercf:PA5
maximum_servo_angle: 180
minimum_pulse_width: 0.00085
maximum_pulse_width: 0.00215


[duplicate_pin_override]
pins: ercf:PA6				# Pin used by the encoder and filament_motion_sensor. All 3 must be the same pin

[filament_motion_sensor encoder_sensor]
switch_pin: ^ercf:PA6
pause_on_runout: False
detection_length: 10.0			# This is the default detection - it overridden during calibration with calculated length
extruder: extruder
runout_gcode: ERCF_ENCODER_RUNOUT

